body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

p {
  color: #8f8f8f;
}

/* Headings  */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3.3rem;
  line-height: 1.5rem;
  font-weight: 400
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* sections  */
.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

/* Title Section  */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* download buttons  */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image  */
.title-img {
  width: 300px;
  transform: rotate(25deg);
  position: absolute;
  right: 30%
}

/* Features */
.icon {
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 4.5%;
}

#features {
  position: relative;
}

.feature-title {
  font-size: 1.35rem;
}

/* Testimonial section  */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 400;
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing  */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 400;
}

.pricing-column {
  padding: 3% 2%;
}

/* cta */
.cta-btn {
  margin: 5% 3% 5% 0;
  ali
}

/* footer  */
.fabf {
  margin: 20px 10px;
}

@media (max-width:1028px) {
  h1 {
    text-align: center;
  }

  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
